*{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.headerr {
   display: flex;
   width: 100 vw;
   align-items: start;
   justify-content: start;
}

.buttons {
   display: flex;
   align-items: end;
   justify-content: end;
}

.light {
   background-color: white;
   border: none;
   font-size: 17px;
}

.back {
   background-color: black;
   color: white;
   text-decoration: none;
   font-size: 15px;
}
#link {
   text-decoration: none;
   color: aliceblue;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hrheader {
   width: 100%;
   border: 2.3px solid black;
}


h4 {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 10px;
  /* text-decoration: underline;
   width: 100%;*/

}
input {
   width: 90%;
   height: 50px;
   margin: 5px;
   border-style: none;
   /*text-align: top; VER COMO HACER PARA
   QUE EL HERE IS MY CONTENT INICIE JUSTO ABAJO DEL 
   BLOG TITLE*/
}
.posted {
   width: 30%;
   height: 15px;  
}
p{
   margin-left: 10px;
}
.blogtitle{
   border-style: solid;
   margin-top: 10px;
}

hr {
   border-style:solid;
   border-color: gray;
   width: 97%;
}

.hrfooter {
   width: 100%;
   border: 2.3px solid black;
}
.pfooter {
   text-align: center;
}

.footerinf {
   font-style: italic;
}